<article class="results">
  <h1>Search results for <i>getting real</i> :</h1>

  <article>
    <div class="book">
      <%= image_tag "slut_thumb_small.jpg" %>
      <h1>Getting Real</h1>
      <p class="authors">
        <span>Jason Fried</span>,
        <span>Heinemeier David Hansson</span>,
        <span>Matthew Linderman</span>
      </p>
    </div>

    <div class="actions">
      <form class="toread"><p><input type="submit" value="To read"></p></form>

      <div class="opinion">
        <p>Your opinion, if read:</p>
        <form class="like"><p><input type="submit" value="Good" name="opinion"></p></form>
        <form class="meh"><p><input type="submit" value="Meh" name="opinion"></p></form>
        <form class="dislike"><p><input type="submit" value="Poor" name="opinion"></p></form>
      </div>
    </div>
  </article>

  <article>
    <div class="book">
      <p class="no-img">no cover</p>
      <h1>Getting Real</h1>
      <p class="authors">
        <span>Jason Fried</span>
      </p>
    </div>

    <div class="actions">
      <form class="toread"><p><input type="submit" value="To read"></p></form>

      <div class="opinion">
        <p>Your opinion, if read:</p>
        <form class="like"><p><input type="submit" value="Good" name="opinion"></p></form>
        <form class="meh"><p><input type="submit" value="Meh" name="opinion"></p></form>
        <form class="dislike"><p><input type="submit" value="Poor" name="opinion"></p></form>
      </div>
    </div>
  </article>

</article>
