@import "compass/css3";

/* grid */
$column-width: 50px;
$gap-width: 14px;

$site-width: $column-width * 12 + $gap-width * 13;
$wide-wing-width: $column-width * 8 + $gap-width * 7;
$narrow-wing-width: $column-width * 4 + $gap-width * 3;

/* colours */
$background-color: #fdfcfd;
$text-color: #333;
$red: #DC143C; /* crimson */
$green: #228B22; /* forestgreen */

/* reset */
* {
  margin:0; padding:0;
  vertical-align:baseline;
}

/* general */
body {
  width: $site-width;
  margin:0 auto;
  font:12px/1.5 "lucida grande", "helvetica neue", helvetica, arial, sans-serif;
  color: $text-color;
  background:$background-color;
/*  background:url('/assets/754.png') repeat-y center;*/
}
body > header, .book {
  background: darken($background-color, 2%);
  border:1px solid #eee;
}

/* links */
/*a { text-decoration:none;
  &:hover { text-decoration:underline; };
}*/
.remove a {
  color:lighten($red, 35%);
  text-decoration:none;

  &:hover { color:$red }
}

/* lists */
.no-style-type {
  list-style-type:none;
}

/* headings */
h1, h2 { font-weight:normal; }
body > h1 {
  font-size:24px;
}
.main > h1 {
  font-size:18px;
  margin-bottom: 2 * $gap-width;
}
aside > h1 { margin:20px 0;}
.main .book h1, aside > h1 {
  font-size:16px;
}
.related .book h1, .main .authors {
  font-size:14px;
}
.main .book h2, aside .authors {
  font-size:13px;
}

/* images */
$cover-w: 2 * $column-width + $gap-width;
$cover-h: $cover-w * 3/2;
$cover-small-w: $column-width;
$cover-small-h: $cover-small-w * 3/2;

.book img, .no-img {
  width: $cover-w;
  border:1px solid #ccc;
  float:left; margin:5px $gap-width 0 0;

  aside & {
    width: $cover-small-w;
    margin-top:4px;
  }
}
.no-img {
  height: $cover-h; line-height: $cover-h;
  background: $background-color; color:#aaa;
  text-align:center; font-size:10px; font-style:italic;
  @include text-shadow(#f2f2f2 1px 1px 1px);

  aside & { height: $cover-small-h; line-height: $cover-small-h; }
}

/* site header */
body > header {
  margin-bottom: $gap-width;
  padding:0 $gap-width;
}

/* search form */
.search {
  label { display:none; }
}

/* main content */
.main {
  width: $column-width * 6 + $gap-width * 8;
  float:left;

  .book, .remove, .opinion { clear:left; }
  .remove { float:right; }
  .remove, .opinion { padding-top: $gap-width; }
  .opinion {
    dt { margin-bottom:10px; }
    dt, span { font-weight:bold; }
  }
}

/* books */
.book {
  margin-bottom: 2 * $gap-width;
  padding:($gap-width - 5px) $gap-width $gap-width;

  .main & { overflow:hidden; }
}

.authors { margin-top:7px;
  aside & { margin-top:4px; }
}

.like { color:$green; }
.dislike { color:$red; }

/* related */
.related {
  width: 5 * $column-width + 6 * $gap-width;
  margin-left: 7 * ($column-width + $gap-width);

  nav { padding-top:7px; margin-bottom: 23px;
    a { margin-right:5px; }
  }

  .remove { margin-left: 4 * $column-width + 3 * $gap-width; }
}
.brief { min-height: $cover-small-h + $gap-width + 2px; }

.opinion form {
  float:left; width:$column-width; margin-right: $gap-width;
}
.opinion input { width:$column-width; }
