/* grid */
$column-width: 40px;
$gap-width: 20px;

$site-width: $column-width * 12 + $gap-width * 11;
$wide-wing-width: $column-width * 8 + $gap-width * 7;
$narrow-wing-width: $column-width * 4 + $gap-width * 3;

/* colours */
$background-color: snow;
$text-color: #444;

/* reset */
* {
  margin:0; padding:0;
  vertical-align:baseline;
}

body {
  width:$site-width; margin:0 auto;
  font:12px/1.5 "helvetica neue", helvetica, arial, sans-serif;
}

/* lists */
.no-style-type {
  list-style-type:none;
}