@import "compass/css3";

/* grid */
$column-width: 50px;
$gap-width: 14px;

$site-width: $column-width * 12 + $gap-width * 11;
$wide-wing-width: $column-width * 8 + $gap-width * 7;
$narrow-wing-width: $column-width * 4 + $gap-width * 3;

/* colours */
$background-color: snow;
$text-color: #333;

/* reset */
* {
  margin:0; padding:0;
  vertical-align:baseline;
}

/* general */
body {
  width: $site-width;
  margin:0 auto;
  font:12px/1.5 "lucida grande", "helvetica neue", helvetica, arial, sans-serif;
  color: $text-color;
  background:$background-color;
  background:url('/assets/754.png') repeat-y center;
}

/* lists */
.no-style-type {
  list-style-type:none;
}

/* headings */
h1, h2 { font-weight:normal; }
body > h1 {
  font-size:24px;
}
.main > h1 {
  font-size:18px;
  margin-bottom:20px;
}
.main .book h1, aside > h1 {
  font-size:16px;
}
.related .book h1 {
  font-size:14px;
}
.main .book h2, .authors {
  font-size:13px;
}

/* images */
$cover-w: 2 * $column-width + $gap-width;
$cover-h: $cover-w * 3/2;
$cover-small-w: $column-width;
$cover-small-h: $cover-small-w * 3/2;

.book img, .no-img {
  width: $cover-w;
  border:1px solid #ccc;
  float:left; margin-right:$gap-width;

  aside & { width: $cover-small-w; }
}
.no-img {
  height: $cover-h; line-height: $cover-h;
  background:#eee; color:#aaa;
  text-align:center; font-size:10px; font-style:italic;
  @include text-shadow(#E8E8E8 1px 1px 1px);

  aside & { height: $cover-small-h; line-height: $cover-small-h; }
}

/* site header */
body > header {
  margin-bottom:30px;
}

/* search form */
.search {
  label { display:none; }
}

/* main content */
.main {
  width: $column-width * 7 + $gap-width * 6;
  float:left;
}

/* books */
.comment, .main .book { clear:left; }

.main .book { margin-bottom:30px; overflow:hidden; }
.comment { padding-top:$gap-width; }

.related .book { margin-bottom:$gap-width; }

/* related */
.related {
  width: $column-width * 5;
  margin-left: ($column-width + $gap-width) * 7;
}