<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bookshelf | Recently read</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <header>
    <h1><a href="/">Bookshelf</a></h1>

    <form class="search" action='search/results'>
      <p>
        <label for="search">Query:</label>
        <input type="search" id="search" name="search" placeholder="Books by title, author, ISBN">
        <input type="submit" value="Search">
      </p>
    </form>

    <nav>
      <a href="">Ivana</a>
      <a href="">Logout</a>
    </nav>
  </header>

  <%= yield %>
</body>
</html>
